@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,100,300,400italic|Roboto+Condensed:400,700,300');

html,
body {
	margin: 0;
	padding: 0;
}

chart-ui div,
chart-ui span {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 9pt;
	text-align: left;
	line-height: 1.6em;
}

* {
	box-sizing: border-box;
}

.loader {
	background-image: url(img/loading-spin-white.svg);
	display: block;
	position: absolute;
	height: 32px;
	width: 32px;
	left: 50%;
	top: 50%;
}

/* #region chart layout */
chart-ui {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: block;

	/* min width is driven by the need to see all navigation bar icons */
	min-width: 490px;
}

nav {
	padding: 10px 12px;
	font-family: 'Roboto', sans-serif;
}

nav .left {
	float: left;
	height: 29px; /* ? */
}

nav .right {
	float: right;
}

.ciq-chart-area {
	display: flex;
}

.chart-content {
	flex-grow: 1;
	height: 100%;

	/* set up area for drawing toolbar and chart */
	display: flex;
	flex-direction: column;
}

chart {
	display: block;
	flex-grow: 1;
	position: relative;
}

.chartContainer {
	width: 100%;
	height: 100%;
	position: absolute;
}

cq-side-panel {
	position: relative;
	top: 0;
}
/* #endregion chart layout */

/* #region chart adjustments */
.stx-chart-panel.stx-show {
	display: inline-block !important;
}

.stx-panel-title.chart-title {
	font-size: 28px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	margin: 10px;
}
/* #endregion chart adjustments */

/* #region special switches */
.toggle-button {
	outline: none;
}

.toggle-button.active {
	box-shadow: 0 3px #398dff;
}
/* #endregion special switches */

/* #region nav symbol and comparison inputs */
.ciq-nav input {
	height: 27px;
	width: 100%;
	border-radius: 1px;
	padding: 0 8px;
	display: inline-block;
	border: #333 1px solid;
	color: #fafafa;
	transition: background 0.6s 0s;
}

.ciq-nav input:hover,
.ciq-nav input:focus {
	background-color: #233542;
}

.symbol-frame {
	position: relative;
	display: inline-block;
	max-width: 130px;
	min-width: 50px;
	margin-left: 8px;
	transition: all 350ms;
}

/* symbol buttons */
.symbol-frame div {
	border: none;
	display: inline-block;
	cursor: pointer;
	height: 27px;
	width: 27px;
	position: absolute;
	top: 1px;
	right: 4px;
	background-image: url(img/stx-sprite-ui.svg);
	opacity: 0.6;
	transition: opacity 0.2s 0s;
}

.symbol-btn {
	background-position: -45px -50px;
}

.comparison-btn {
	background-position: -438px -50px;
}

.ciq-nav .symbol-frame div:hover {
	opacity: 1;
}
/* #endregion */

/* #region top nav buttons */
.ciq-nav input {
	color: #c5c7c9;
	background-color: #151f28;
	outline: none;
}

.ciq-nav button {
	background-color: transparent;
	border: solid 1px transparent;
	border-radius: 1px;
	outline: none;
	background-repeat: no-repeat;
	margin-right: 4px;
	height: 27px;
	width: 27px;
	opacity: 0.6;
	transition: opacity 0.2s 0s;
}

.ciq-nav button:hover {
	border: solid 1px #273949;
	opacity: 1;
}

.crosshair-btn,
.drawing-toolbar-btn {
	background-image: url(img/stx-sprite-ui.svg);
	background-position: -443px -50px;
}

.drawing-toolbar-btn {
	background-position: -250px -50px;
}

.timezone-btn {
	background-image: url(img/ciq-timezone.svg);
	background-size: 20px 20px;
	background-position: center;
}
/* #endregion topnav buttons */

/* #region right click context menu for studies */
.overlayMenu {
	width: 130px;
	display: inline-block;
	position: fixed;
	background: #fff;
	color: #666;
	z-index: 3;
	border-radius: 1px;
}

.overlayMenu div {
	padding: 0 20px;
	cursor: pointer;
	line-height: 27px;
}

.overlayMenu div:hover {
	background: #f3f3f3;
}
/* #endregion right click context menu for studies */

/* #region timezone.dialog */
.timezone h3 {
	text-align: center;
}

.current-location-message {
	text-align: center;
	margin: 0 auto 8px;
	color: #222;
}

.timezoneList {
	/* border-top: solid 1px #ddd; */
	border-bottom: solid 1px #ddd;
	max-height: calc(100vh - 400px);
	overflow: auto;
}

.timezoneList li {
	margin-bottom: 2px;
}

.timezoneList li:hover {
	background-color: #f0f0f0;
	color: black;
}

.timezone .instruct {
	text-align: center;
	font-style: italic;
	color: #999;
}

.current-location-btn {
	margin-left: 20%;
	font-size: 11px;
	background: transparent;
}
/* #endregion timezone.dialog */

/* #region menus */
menu-select {
	font-size: 9pt;
	font-weight: 300;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	padding: 5px 5px;
	margin-right: 8px;
	background: transparent;
	border: 0px transparent;
}

menu-select span.title {
	color: #c5c7c9;
	transition: color 0.2s 0s;
	padding: 0;
	text-transform: capitalize;
}

menu-select span.title:hover {
	color: #ffffff;
}

/* icon versions of menus for small screen sizes */
menu-select span.icon {
	/* hide until required by small chart content area */
	display: none;
	width: 27px;
	height: 27px;
	background-image: url(img/stx-sprite-ui.svg);
	background-position-y: -50px;
	opacity: 0.85;
	transition: opacity 0.2s 0s;
}

.chart-type-select span.icon {
	background-position-x: -350px;
}

.study-select span.icon {
	background-position-x: -300px;
}

.theme-select span.icon {
	background-position-x: -481px;
}

/* arrow following menu title */
menu-select:after {
	content: '';
	position: relative;
	display: inline-block;
	top: -2px;
	right: 0px;
	width: 5px;
	height: 5px;
	margin-left: 5px;
	border-right: solid thin #949494;
	border-bottom: solid thin #949494;
	transform: rotate(45deg);
	zoom: 1;
	color: #c5c7c9;
}

menu-select-options menu-option {
	padding: 0px 20px;
	display: block;
	line-height: 27px;
	height: 27px;
	color: #666;
	text-transform: capitalize;
}

menu-select-options menu-option span {
	font-weight: 300;
}
menu-select-options menu-option:hover {
	color: #000;
	background: #f3f3f3;
}

menu-select-options menu-option.radio-menu:after {
	content: '✓';
	content: '○';
	font-size: 2.2em;
	position: absolute;
	right: 12px;
	opacity: 0.5;
	color: #ccc;
}

menu-select-options menu-option.radio-menu.active:after {
	content: '◉';
	font-size: 1.2em;
	color: #222;
}

menu-select-options {
	margin: 5px 0px 0px -5px;
	padding: 14px 0;
	position: absolute;
	max-height: 90%;
	overflow: auto;
	background: #fff;
	display: none;
	z-index: 999;
	left: inherit;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 1px;
	width: 176px;
}

menu-select:hover menu-select-options {
	display: block;
}

#fontFamilySelect menu-select-options {
	width: 150px;
}

#fontSizeSelect menu-select-options {
	width: 60px;
}
/* #endregion */

/* #region drawing toolbar */
drawing-toolbar {
	background: #2e495e;
	height: 0;
	overflow: hidden;
	transition: 350ms background ease-in;
	transition: 350ms background ease-in, 350ms height ease-in;
}

.toolbar-on drawing-toolbar {
	background: #1c2a35;
	height: 40px;
}

.toolbar {
	border-bottom: 1px solid #131d24;
	height: 40px;
	padding: 5px 10px 0;
	z-index: 2;
	/* transition: height 0.2s 0s, padding 0.2s 0s; */
	display: flex;
	color: white;
}

.drawingParameters {
	padding: 5px;
	margin-left: 10px;
	display: flex;
}

.drawingParameters button {
	height: 27px;
	width: 27px;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 14px;
	color: #c5c7c9;
	background: transparent;
	border: solid 1px transparent;
	margin-right: 4px;
	transition: color 0.2s 0s;
}

.drawingParameters button:focus,
.drawingParameters button:hover {
	color: #fff;
	border-color: #2e4456;
}

div.font-style {
	margin-top: -6px;
}

.boldBtn {
	font-weight: bold;
}

.italicBtn {
	font-style: italic;
}

.lineSelect {
	padding: 0;
	width: 100px;
	height: 15px;
	display: flex;
	margin-top: 8px;
}

.lineSelect menu-select-options {
	margin-top: 10px;
}

.lineSelect span.title {
	border-top-color: white;
	border-radius: 0;
	width: 70%;
	color: white;
	display: block;
	height: 50%;
	top: 5px;
}

.lineSelect .option span {
	display: block;
	height: 0;
	padding: 0;
	border-top-color: #666;
	border-radius: 0;
}

.ciq-solid-1 {
	border-top-style: solid;
	border-top-width: 1px;
}
.ciq-solid-3 {
	border-top-style: solid;
	border-top-width: 3px;
}
.ciq-solid-5 {
	border-top-style: solid;
	border-top-width: 5px;
}
.ciq-dotted-1 {
	border-top-style: dotted;
	border-top-width: 1px;
}
.ciq-dotted-3 {
	border-top-style: dotted;
	border-top-width: 3px;
}
.ciq-dotted-5 {
	border-top-style: dotted;
	border-top-width: 5px;
}
.ciq-dashed-1 {
	border-top-style: dashed;
	border-top-width: 1px;
}
.ciq-dashed-3 {
	border-top-style: dashed;
	border-top-width: 3px;
}
.ciq-dashed-5 {
	border-top-style: dashed;
	border-top-width: 5px;
}
/* #endregion drawing toolbar */

/* #region dialogs */
.dialog-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 31; /* The zoom buttons have a z-index of 30 */
}

.dialog {
	background-color: #ffffffeb;
	margin: 68px auto;
	border: 1px solid #888;
	border-radius: 3px;
	width: 350px;
	overflow: auto;
	font-weight: 300;
	font-size: 9pt;
	line-height: 16pt;
	max-height: 75%;
	max-height: calc(100% - 174px);
}

button.cq-close {
	float: right;
	width: 25px;
	height: 25px;
	margin: 4px;
	cursor: pointer;
	opacity: 0.5;
	background-color: transparent;
	border: none;
	background-position: -250px -24px;
	background-image: url(img/stx-sprite-panels.svg);
	box-shadow: none;
}

.cq-close:hover {
	opacity: 0.9;
}

.dialog-content {
	padding: 20px 35px;
}

.dialog h3 {
	font-size: 11pt;
	text-transform: uppercase;
	color: #000;
	margin-top: 0px;
}

.dialog-item {
	margin-bottom: 1.2em;
	color: #666;
}

.dialog button {
	font-size: 9pt;
	font-weight: 700;
	text-transform: uppercase;
	color: #398dff;
	padding: 5px 10px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.dialog button:hover {
	box-shadow: 0 1px 2px rgba(69, 143, 209, 0.8);
}

.dialog input,
.dialog select {
	float: right;
	max-width: 224px;
	margin-right: 1em;
	border: solid 1px #ccc;
}

.dialog input[type='text'],
.dialog input[type='number'] {
	height: 26px;
	width: 75px;
	padding: 0 8px;
}

.dialog select {
	height: 26px;
}

.dialog ul,
.dialog li {
	list-style: none;
	padding-left: 0px;
	color: #666;
}

.dialog-ctrls {
	text-align: center;
	margin: 8px 0px;
}

/* theme dialog specific */
.theme-save input[type='text'] {
	float: none;
	width: 120px;
	display: block;
	margin-left: -4px;
}

/* timezone dialog specific */
.searchFilter {
	display: block;
	margin: 8px 0;
}

.searchFilter input {
	border: none;
	color: #333;
	border-bottom: solid 1px #aaa;
	padding: 2px;
	float: none;
	width: 100%;
	background: transparent;
}

.searchFilter input::placeholder {
	color: #aaa;
}

.searchFilter input:focus {
	outline: none;
	border-bottom-color: #398dff;
}
/* #endregion */

/* #region colorpicker */
ciq-colorpicker {
	position: absolute;
	top: 0;
}

.color-picker-content {
	position: relative;
	z-index: 32;
}

.color-picker-options {
	position: absolute;
	background: #fff;
	width: 180px;
	/* margin allows to align with swatch bottom right corner */
	margin: 19px 0 0 19px;
	padding: 10px 5px 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.color-picker-options ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	zoom: 1;
}

.color-picker-options ul:after {
	/* Fix clear float in some browsers */
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.color-picker-options ul li {
	/* List of items in color-picker containing each swatch */
	float: left;
	margin: 0 5px 5px 0;
}

.color-picker-options ul li a {
	/* The swatches themselves */
	display: block;
	width: 13px;
	height: 13px;
	border: 1px solid #aaa;
}

/* swatch to show current selection and open colorpicker */
.color-picker-swatch {
	float: right;
	margin-right: 1em;
	cursor: pointer;
	display: block;
	height: 20px;
	width: 20px;
	border: 1px solid black;
}
/* #endregion */

/* #region series and comparison */
.comparisons {
	margin: 42px 0 0 16px;
	float: left;
}

.comparisonWrapper {
	position: relative;
	width: 150px;
	padding-left: 4px;
	height: 24px;
	z-index: 21;
}

.comparisonWrapper:hover {
	background-color: #21323f;
}

.comparisonWrapper:hover .deleteSeries {
	opacity: 0.6;
}

.chartSeriesColor {
	position: relative;
	display: inline-block;
	height: 14px;
	width: 14px;
	margin: 0px 8px 0 0;
	vertical-align: middle;
}

.chartSeries {
	display: inline-block;
	left: 12px;
	cursor: default;
	text-transform: uppercase;
	font-weight: 700;
}

.deleteSeries {
	height: 19px;
	width: 20px;
	display: inline-block;
	position: absolute;
	right: 10px;
	cursor: pointer;
	background-image: url(img/stx-sprite-panels.svg);
	background-position: -250px -53px;
	transform: scale(0.9);
	margin-top: 3px;
	opacity: 0;
}

.deleteSeries:hover {
	opacity: 1;
}
/* #endregion */

/* #region footer */
.ciq-footer {
	text-align: right;
}

.ciq-span-links {
	display: inline-block;
}

.ciq-footer-link {
	cursor: pointer;
	display: inline-block;
	margin: 10px 12px;
}

.ciq-footer-link:hover {
	color: white;
}
/* #endregion

/* #region small screen adjustments */
@media only screen and (max-width: 764px) {
	.symbol-frame input[type='text'] {
		width: 62px;
	}

	.symbol-frame input[type='text']:focus {
		width: 100px;
	}

	.symbol-frame input::placeholder {
		color: transparent;
	}

	menu-select.top-menu {
		padding-top: 0;
	}

	menu-select.top-menu span.title {
		display: none;
	}

	menu-select.top-menu:after {
		display: none;
	}

	menu-select.top-menu span.icon {
		display: block;
	}

	.ciq-nav button {
		vertical-align: top;
	}
}
/* #endregion */

/* #region plugins */
/* tfc plugins */

/* load info is likely to be visible only on slower connections */
.tfc-load-info {
	position: absolute;
	width: 280px;
	text-align: center;
	transition: opacity 400ms;
	transform: translateY(45%);
	height: 100%;
	font-size: 2rem;
	color: #333;
}

[cq-active='true'] .tfc-load-info {
	opacity: 0;
}

.tfc-btn {
	height: 27px;
	width: 27px;
	background-image: url(img/stx-sprite-ui.svg);
	background-position: -200px -50px;
	background-repeat: no-repeat;
	opacity: 0.6;
	transition: opacity 0.2s 0s;
	display: none;
}

/* hide tfc info panel and collapsable button on small screens */
.break-md .stx-trade-info,
.break-sm .stx-trade-info,
.break-md .stx-trade-ticket-toggle,
.break-sm .stx-trade-ticket-toggle {
	display: none !important;
}

/* show tfc nav panel on small screens */
.break-md .stx-trade-nav,
.break-sm .stx-trade-nav {
	display: block !important;
}

/* tfc panels have been configured using box-sizing: content-box */
.chartContainer .create-order {
	box-sizing: content-box;
}
/* #endregion */
