<div class="dialog-overlay" *ngIf="$showDialog | async">
	<div class="dialog">
		<button class="cq-close" (click)="closeMe()"></button>
		<div class="dialog-content">
			<h3>Custom Theme</h3>
			<div class="candles">
				<div class="dialog-item color">
					<span>Candle Color</span>
					<div
						[ngStyle]="{ backgroundColor: candleDown.color }"
						class="color-picker-swatch"
						(click)="launchColorpicker('candleDown', $event)"
					></div>
					<div
						[ngStyle]="{ backgroundColor: candleUp.color }"
						class="color-picker-swatch"
						(click)="launchColorpicker('candleUp', $event)"
					></div>
				</div>
				<div class="dialog-item wick">
					<span>Candle Wick</span>
					<div
						[ngStyle]="{ backgroundColor: candleDown.wick }"
						class="color-picker-swatch"
						(click)="launchColorpicker('wickDown', $event)"
					></div>
					<div
						[ngStyle]="{ backgroundColor: candleUp.wick }"
						class="color-picker-swatch"
						(click)="launchColorpicker('wickUp', $event)"
					></div>
				</div>
				<div class="dialog-item border">
					<span>Candle Border</span>
					<div
						[ngStyle]="{ backgroundColor: candleDown.border }"
						class="color-picker-swatch"
						(click)="launchColorpicker('borderDown', $event)"
					></div>
					<div
						[ngStyle]="{ backgroundColor: candleUp.border }"
						class="color-picker-swatch"
						(click)="launchColorpicker('borderUp', $event)"
					></div>
				</div>
			</div>
			<div class="dialog-item lineBarChart">
				<span>Line/Bar Chart</span>
				<div
					[ngStyle]="{ backgroundColor: lineBarChart.color }"
					class="color-picker-swatch"
					(click)="launchColorpicker('lineBar', $event)"
				></div>
			</div>
			<div class="dialog-item mountainChart">
				<span>Mountain Color</span>
				<div
					[ngStyle]="{ backgroundColor: mountainChart.color }"
					class="color-picker-swatch"
					(click)="launchColorpicker('mountain', $event)"
				></div>
			</div>
			<div class="dialog-item background">
				<span>Background</span>
				<div
					[ngStyle]="{ backgroundColor: background.color }"
					class="color-picker-swatch"
					(click)="launchColorpicker('chartBackground', $event)"
				></div>
			</div>
			<div class="dialog-item gridLines">
				<span>Grid Lines</span>
				<div
					[ngStyle]="{ backgroundColor: gridLines.color }"
					class="color-picker-swatch"
					(click)="launchColorpicker('lines', $event)"
				></div>
			</div>
			<div class="dialog-item dateDividers">
				<span>Date Dividers</span>
				<div
					[ngStyle]="{ backgroundColor: gridDividers.color }"
					class="color-picker-swatch"
					(click)="launchColorpicker('dividers', $event)"
				></div>
			</div>
			<div class="dialog-item axisText">
				<span>Axis Text</span>
				<div
					[ngStyle]="{ backgroundColor: axis.color }"
					class="color-picker-swatch"
					(click)="launchColorpicker('axis', $event)"
				></div>
			</div>
			<div class="dialog-item theme-save">
				<input
					class="ciq"
					type="text"
					placeholder="Name Your Theme"
					[(ngModel)]="themeName"
				/>
			</div>
			<div class="dialog-ctrls">
				<button (click)="closeMe(true)">Save</button>
			</div>
		</div>
	</div>
</div>
